# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE configs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/
